nav {
    font-size: larger;
    text-align:right;
}
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
h1 {
    font-size: 100px;
    color:rgb(0, 0, 0);
    margin:0;
    text-align:center;
    text-decoration:double underline;
}

body {
    /* background-image: url('bg.jpg');
    background-repeat: no-repeat;
    font-size: 16.5px;
    background-attachment: scroll; */
    background: black  url('bg.jpg') no-repeat scroll;
    background-size: cover;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
   

}

footer {
    background-color: rgba(169, 169, 169, 0.500);
    color: rgb(0, 0, 0);
    text-align:center;
}
header{
    background-color:rgba(169, 169, 169, 0.500) ;
height:27px

}
.container{
    background-color:rgba(169, 169, 169, 0.500) ;
    align-content: center;
}
