
nav{
    font-size: larger;
    padding-left:70%;

}
h1{
    font-size: 100px;
    padding-left: 30%;
}
body{
    background-color: beige;
    font-size: medium;
    margin: 0%;
border-color: rgb(255, 0, 0);
}
footer{
    background-color:darkgrey;
}
